* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "Anek Devanagari", sans-serif;

}

/* Header principal */

.header_principal {
    position: relative;
    z-index: 1000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000; */
    /* box-shadow: 0 0 25px 0 #ffffff98; */
}

.header_principal_logo {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_principal_logo>img {
    width: 90%;
}

.header_principal_comprar {
    background-color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;

}

.header_principal_comprar>a {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilos a la barra de navegación*/
.barra_navegacion {
    position: absolute;
    z-index: 1000;
    bottom: 30px;
    width: 100%;
    height: 70px;
}

.barra {
    height: inherit;
}

.barra_lista {
    background-color: #000;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: inherit;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 20px 0 #1d1c1ca8;
}

.barra_lista_element {
    background-color: rgb(238, 129, 129);
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.lista_element_bar_img {
    background-color: #fff;
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: inherit;

}

.lista_element_bar_img:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: transform 0.5s ease;
}
.bar_img_enlace{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar_img_enlace>img {
    width: 50px;
    height: 50px;
}

/* Estilos procesador */
.procesador_contenedor {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000ba;
    /* background-color: blue; */

}

.procesador_contenedor>img {
    position: relative;
    z-index: -100;
    width: 30%;

    filter: brightness(1.45);
    filter: drop-shadow(0 0 50px #dedede);
}

#follow-image {
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    /* Transición más suave */
    pointer-events: none;
    /* Hace que la imagen no interfiera con los eventos del mouse */
}

/* Simulacion de texto */
.texto_contenedor {
    /* background-color: rgba(255, 0, 0, 0.518); */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Simulacion de tipeo */
.typewriter {
    font-size: 48px;
}

#typing-text {
    display: inline;
    font-size: 48px;
    font-weight: 800;
}

#cursor {
    font-weight: bold;
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #61dafb;
    }
}

/* Procesadores */
.procesadores {
    padding: 20px;
}
.procesadores_procesador_textos > h2{
    font-size: 48px;
}
.animacion {
    position: relative;
    top: -90px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animacion>h2 {
    font-size: 48px;
}

.animacion>p {
    text-align: center;
    font-size: 24px;
}

.procesadores_procesador {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.procesadores_procesador_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.procesadores_procesador_img>img {
    width: 40%;
}

#particles-js {
    position: absolute;
    top: 0;
    height: 100%;
}

.snapbulls {
    color: #00bfff;
    font-weight: 800;
}
.contenedorbotonessnap{
    display: flex;
    gap: 50px;
}
.snapbullsentrar {
    width: 120px;
    height: 60px;
    background-color: #000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 4px solid #ff007f;
    color: #ff007f;
}

.snapbullsentrar:hover {
    filter: drop-shadow(0 0 5px #ffbf00);
}

/* Tarjeta de los procesadores */
.procesadores_procesador_img>img {
    animation-name: flotantesprocesadores;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.boton_procesadores {
    position: relative;
    display: block;
    text-decoration: none;
    border-radius: 15px;
    padding: 20px 0;
    text-align: center;
    width: 160px;
    height: 60px;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
    z-index: 100;
}

.boton_procesadores>span {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 0%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.50s ease;
}

.boton_procesadores:hover > span {
    width: 100%;
}
.boton_procesadores:hover{
    color: #000;
}

@keyframes flotantesprocesadores {
    50% {
        transform: translateY(6px);
        filter: drop-shadow(0 0 20px #dedede);
    }
}

/*Footer de todas paginas*/
.footer_principal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
}

/* Main  */
.main_nosotros{
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 80vh;
    width: 95%;
    margin: 0 auto;
}
.tarjeta{
    position: relative;
    width: 100%;
    height: 100%;
}

.tarjeta-1{
    background-image: url("/assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tarjeta-1 > h2{
    position: relative;
    z-index: 10;
    font-size: 48px;
}
.tarjeta_contenedor_textos > h2{
    position: relative;
    z-index: 10;
    font-size: 48px;
}
.tarjeta-1 > p{
    position: relative;
    z-index: 10;
    font-size: 18px;
}
.tarjeta_contenedor_textos > p{
    position: relative;
    z-index: 10;
    font-size: 18px;
}
.tarjeta_1_glass{
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgb(0,0,0);background: linear-gradient(90deg, rgba(0,0,0,0.9220938375350141) 9%, rgba(42,42,62,0.7036064425770308) 49%, rgba(0,0,0,0.9136904761904762) 91%);
}
.tarjeta_boton{
    margin: 60px 20px;
}
.tarjeta-2, .tarjeta-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.tarjeta-2 > img{
    width: 100%;
    height: 80%;
}
.tarjeta-3 > img{
    width: 100%;
    height: 100%;
}

/* Diseños Responsivos */

/* Celular */
@media screen and (max-width: 767px) {

    .procesador_contenedor>img {
        width: 70%;
    }

    #typing-text {
        font-size: 24px;
    }
    .typewriter {
        font-size: 36px;
    }
    
    .barra_lista {
        width: 75%;
    }

    .procesadores_procesador {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .procesadores_procesador_textos > h2{
        font-size: 36px;
        margin-bottom: 0;
    }
    .procesadores_procesador_textos{
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
    }
    .tarjeta-1 > h2{
        font-size: 28px;
    }
    .tarjeta-1 > p{
        font-size: 13px;
    }
    .tarjeta_contenedor_textos > p{
        font-size: 14px;
    }
    .boton_procesadores {
        width: 100px;
        height: 50px;
        padding: 12px;
    }
    .tarjeta_boton{
        margin: 20px 5px;
    }
    .tarjeta_contenedor_textos > h2{
        font-size: 24px;
        margin: 0;
    }
    .tarjeta-2, .tarjeta-3{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .tarjeta-2 > img{
        width: 50%;
        height: 40%;
        box-shadow: -5px 5px 0px 0 #fff;
    }
    .tarjeta-3 > img{
        width: 100%;
        height: 100%;
    }
    .barra_navegacion{
        bottom: 5px;
    }
    .tarjeta_contenedor_textos{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .tarjeta_contenedor_textos > p{
        font-size: 13px;
    }
}